body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('images.jpeg'); 
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    padding: 20px;
    margin: 0;
}

header img.perfil {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    background-color: #333;
    color: white;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}




footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

footer p {
    font-size: 0.9em;
    color: #555;
}